@import "tailwindcss";

@theme {
  --color-obsidian: #0B0C10;
  --color-amber-500: #959595;
  --color-amber-600: #828282;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-orbitron: "Orbitron", ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  .glass-panel {
    @apply backdrop-blur-md bg-white/5 border border-white/10;
  }
}
